# Build artifacts
*.o
/kernel
/bootx64.so
/bootx64.efi
build/
Dependency.dep

# Temporary directories
iso/

# Editor specific
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# toolchain
toolchain/