# Build artifacts
*.o
/kernel
/bootx64.so
/bootx64.efi
build/
Dependency.dep
*.img

# Temporary directories
iso/

# Editor specific
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# toolchain
toolchain/src
toolchain/install/bin
toolchain/install/include
toolchain/install/lib
toolchain/install/libexec
toolchain/install/share
mnt/